
*{
    margin:0;
    padding:0;
    }
    .div1{
    background:linear-gradient(pink,white,hotpink);
    height:2000px;
    }
    .div2{
    background:white;
    width:20%;
    height:500px;
    position:relative;
    top:100px;
    left:37%;
    border-radius:20px;
    
    }
    .h21{
    text-align:center;
    padding:20px;
    }
    .name{
    font-weight:500;
    position:relative;
    left:120px;
    }
    #name{
    position:relative;
    left:200px;
    }
    .email{
    font-weight:500;
    position:relative;
    left:120px;
    }
    #email{
    position:relative;
    left:193px;
    }
    .password{
    font-weight:500;
    position:relative;
    left:120px;
    
    }
    #password{
    position:relative;
    left:180px;
    }
    .submit{
    position:relative;
    left:250px;
    top:50px;
    width:70px;
    height:30px;
    background:hotpink;
    color:white;
    border:white;
    
    }
    @media(min-width:550px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:615px;
            }
            .div2{
            background:white;
            width:60%;
            height:400px;
            position:relative;
            top:100px;
            left:21%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:30px;
            }
            #name{
            position:relative;
            left:70px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:30px;
            }
            #email{
            position:relative;
            left:65px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:30px;
            
            }
            #password{
            position:relative;
            left:50px;
            }
            .submit{
            position:relative;
            left:145px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }
    @media(min-width:576px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:615px;
            }
            .div2{
            background:white;
            width:60%;
            height:400px;
            position:relative;
            top:100px;
            left:21%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:50px;
            }
            #name{
            position:relative;
            left:100px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:50px;
            }
            #email{
            position:relative;
            left:93px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:50px;
            
            }
            #password{
            position:relative;
            left:78px;
            }
            .submit{
            position:relative;
            left:145px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }
    @media(min-width:768px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:615px;
            }
            .div2{
            background:white;
            width:50%;
            height:400px;
            position:relative;
            top:55px;
            left:26%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:50px;
            }
            #name{
            position:relative;
            left:100px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:50px;
            }
            #email{
            position:relative;
            left:93px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:50px;
            
            }
            #password{
            position:relative;
            left:78px;
            }
            .submit{
            position:relative;
            left:165px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }
    @media(min-width:992px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:615px;
            }
            .div2{
            background:white;
            width:50%;
            height:500px;
            position:relative;
            top:55px;
            left:26%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #name{
            position:relative;
            left:200px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #email{
            position:relative;
            left:193px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:120px;
            
            }
            #password{
            position:relative;
            left:180px;
            }
            .submit{
            position:relative;
            left:215px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }
    @media(min-width:1200px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:615px;
            }
            .div2{
            background:white;
            width:45%;
            height:500px;
            position:relative;
            top:55px;
            left:30%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #name{
            position:relative;
            left:200px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #email{
            position:relative;
            left:193px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:120px;
            
            }
            #password{
            position:relative;
            left:180px;
            }
            .submit{
            position:relative;
            left:240px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }
    @media(min-width:1400px){
        *{
            margin:0;
            padding:0;
            }
            .div1{
            background:linear-gradient(pink,white,hotpink);
            height:980px;
            }
            .div2{
            background:white;
            width:30%;
            height:500px;
            position:relative;
            top:170px;
            left:35%;
            border-radius:20px;
            
            }
            .h21{
            text-align:center;
            padding:20px;
            }
            .name{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #name{
            position:relative;
            left:200px;
            }
            .email{
            font-weight:500;
            position:relative;
            left:120px;
            }
            #email{
            position:relative;
            left:193px;
            }
            .password{
            font-weight:500;
            position:relative;
            left:120px;
            
            }
            #password{
            position:relative;
            left:177px;
            }
            .submit{
            position:relative;
            left:260px;
            top:50px;
            width:70px;
            height:30px;
            background:hotpink;
            color:white;
            border:white;
            
            }
            
    }